* {
    box-sizing: border-box;
    margin: 0 auto;
}

:root {
  --main-color: #FF0000;
  --secondary-color: #FFFFFF;
  --box-shadow: #FF00004D;
  --border: #D1D1D1;
  --background-border: #FFFFFF33;
  --banner-shadow: #00000040;
  --article-font: #6A6A6A;
  --dark-background: #28272C;
  --contact-font: #B2B2B2;



}

body {
    width: 100vw;
    font-family: 'Nunito Sans', sans-serif;
}

.background {
    height: 95vh;
    background-image: url('../images/Image.png');
    background-size: cover;
    background-position: bottom;
    opacity: 1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: #000000 0% 0%;
  opacity: 0.6;
}

.container {
  margin: 0 auto;
  max-width: 1088px;
  z-index: 122;
}

.page-header {
  border: 1px solid var(--background-border);
  background: #00000066 0% 0%;
  position: relative;
  z-index: 5;
}

.page-header .container {
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 122;
    z-index: 7;
    }

.page-nav-list {
    display: flex;
    align-items: flex-end;
    opacity: none;
}

.page-nav-list li {
}

.page-nav-list a {
    text-decoration: none;
    font-weight: 600;
    width: 128px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font: normal normal bold 16px/22px Nunito Sans;
    color:var(--secondary-color);
    text-transform: uppercase;
}

.page-nav-list a:hover {
    background: var(--background-border) 0% 0%;
    opacity: 1;
    position: relative;
    z-index: 3;
}

.page-logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-logo img {

    width: 31px;
    height: 47px;
    /* background: transparent url('img/Icon.png') 0% 0%; */
    margin-right: 10px;
}

.page-logo strong {
    width: 74px;
    height: 47px;
    text-align: left;
    font: normal normal 800 35px/47px Nunito Sans;
    color: var(--main-color);
}

.page-logo span {
width: 161px;
height: 47px;
text-align: left;
font: normal normal bold 35px/47px Nunito Sans;
color: var(--secondary-color);
}

.banner {
    width: 100vw;
    height: 95vh;
    background: var(--banner-shadow) 0% 0%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -95px;
}


.banner-title {
    text-align: center;
    font: normal normal 900 90px/90px Nunito Sans;
    color: var(--secondary-color);
    text-shadow: 0px 3px 6px var(--banner-shadow);
    padding: 30px;
}

.banner a {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
}

.banner-text {
    /* width: 1046px; */
    height: 44px;
    text-align: center;
    font: normal normal bold 16px/22px Nunito Sans;
    color: var(--secondary-color);
    opacity: 1;
    margin-bottom: 54px;
}

.links {
    text-align: center;
    padding: 10px;
    
}

.links a[href^="/share"] {
    font: normal normal bold 16px/22px Nunito Sans;
    color: var(--secondary-color);
    padding: 22px 60px;
    background: var(--main-color);
    box-shadow: 0px 3px 6px var(--box-shadow);
    border-radius: 40px;
    margin-right: 20px;
}

.links a[href^="/features"] {
    background:var(--secondary-color);
    border-radius: 40px;
    padding: 22px 60px;
    text-align: center;
    font: normal normal bold 16px/22px Nunito Sans;
    color: var(--main-color);
}

.arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    right: 50%;
}

.page-content {
  background-color: var(--secondary-color);
  width: 100vw;
}

.page-content .container {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  margin-bottom: 20px
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 33%;
    flex-direction: column;
  }

  .article-photo {
    height: 234px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }

  .article-photo-img {
    width: 100%;
    height: 100%;
  }

  .article-title {
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    color: var(--article-font);
    margin: 20px;
  }
  .article-text {
    margin-bottom: 30px;
    text-align: left;
    font: normal normal 300 14px/19px Open Sans;
    color: var(--article-font);
  }
  .article-btn {
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    text-align: left;
    font: normal normal bold 14px/19px Nunito Sans;
    color: var(--secondary-color);
    background-color: var(--main-color);
    box-shadow: 0px 3px 6px var(--box-shadow);
  }

.blog {
    width: 100%;
    height: 130px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font: normal normal bold 35px/47px Nunito Sans;
    color: black;
}

  .service-background {
    background-color: var(--dark-background);
  }

  .page-content .container2 {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-background);
    margin-left: 154px;
    margin-right: 154px;
    margin-bottom: 15px
  }

  .article-photo2 {
    width: 170px;
    height: 170px;
    margin-bottom: 15px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
  }

  .article-photo2-img {
    width: 100%;
    height: 100%;
  }



  .article2 {
    text-align: center;
    max-width: 25%;
  }

  .article-title2 {
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: var(--secondary-color);
    opacity: 1;
    margin-bottom: 15px;
    text-align: center;

  }

  .article-text2 {
    margin-bottom: 15px;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    color: var(--contact-font);
  }
  .article-btn2 {
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    text-align: left;
    font: normal normal bold 14px/19px Nunito Sans;
    color: var(--secondary-color);
    background-color: var(--main-color);
    box-shadow: 0px 3px 6px var(--box-shadow);
    margin-bottom: 30px;
  }

  .service {
    width: 100%;
    height: 130px;
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font: normal normal bold 35px/47px Nunito Sans;
    color: var(--secondary-color);
}

.contact {
  width: 100%;
  height: 130px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font: normal normal bold 35px/47px Nunito Sans;
  color: black;
}

.rectangle {
  width: 50px;
  height: 3px; 
  background: var(--main-color);
  border-radius: 8px;
  margin: 5px
}

.contact-form .container{
  display: flex;
  justify-content: center;
}

.contact-photo {
  margin-right: 30px;
  width: 444px;
  height: 316px;
}



input:focus {
  outline: none;
  box-shadow: 0px 1px 6px var(--box-shadow);
  border: 1px solid var(--main-color);
}

input[type="text"] {
  width: 444px;
  height: 38px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border);
  color: var(--contact-font);
  border-radius: 8px;;
  background-color: var(--secondary-color);
}

/* input[type="checkbox"] {
  margin: 10px 0;
  height: 22px;
  width: 22px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--secondary-color);
  cursor: pointer;
  display: flex;
} */

textarea {
  width: 444px;
  height: 140px;
  margin-bottom: 30px;
  color: var(--contact-font);
  border: 1px solid var(--border);
  background-color: var(--secondary-color);

}

.checkbox {
  width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  appearance: none;
  position: relative;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox input:checked + span {
  background: transparent url('../images/IconCheck.svg');
  background-position: center;
  background-size: cover;
}

.custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--border);
  background-color: var(--secondary-color);
  margin-top: 20px;
  border-radius: 8px;
}

.checkbox:hover input ~ .custom {
  border: 1px solid var(--main-color);
}

.agreement{
  margin-left: 50px;
}

button[type="submit"]:focus {
  box-shadow: 0px 3px 6px var(--box-shadow);
  border: 1px solid var(--main-color);
  border-radius: 40px;
  font: normal normal bold 14px/19px Nunito Sans;
  color: var(--main-color);
}

button[type="submit"] {
  width: 142px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid var(--border);
  font: normal normal bold 14px/19px Nunito Sans;
  color: var(--contact-font);
  background-color: var(--secondary-color);
  border-radius: 40px;
  text-align: center;
}

.page-footer {
  height: 233px;
  background-color: var(--dark-background);
}

.footer-logo {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
}

.footer-logo img {

  width: 25px;
  height: 25px;
  /* background: transparent url('img/Icon.png') 0% 0%; */
  margin-right: 5px;
  margin-top: 5px;
}

.footer-logo strong {
  width: 53px;
  height: 34px;
  text-align: left;
  font: normal normal 800 35px/47px Nunito Sans;
  color: var(--main-color);
  margin-right: 25px;
}

.footer-logo span {
width: 115px;
height: 34px;
text-align: left;
font: normal normal bold 35px/47px Nunito Sans;
color: var(--secondary-color);
}

.page-footer-nav {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.page-footer-nav ul li a {
  text-decoration: none;
  font: normal normal bold 14px/19px Nunito Sans;
  color: var(--secondary-color);
}

.page-footer-copyright {
  display: flex;
  justify-content: flex-end;
  font: normal normal 300 12px/16px Nunito Sans;
  color: var(--border);
}